.worktrees/
pulumi/node_modules
pulumi/cf-tunnel/node_modules
pulumi/cf-tunnel/node_modules
pulumi/monitoring/node_modules
/pulumi/headlamp/node_modules

# OpenTofu
tofu/.terraform/
tofu/*.tfstate
tofu/*.tfstate.backup
tofu/secrets.auto.tfvars
tofu/.terraform.lock.hcl
*.tfvars
